# Assignment-03-Q1 (Hypothesis Testing)

In [6]:
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import norm

In [7]:
# Load the dataset
data=pd.read_csv("C:/Users/Shubham Tiwari/Downloads/Cutlets.csv")
data.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [8]:
data1=pd.Series(data.iloc[:,0])
data1.head()

0    6.8090
1    6.4376
2    6.9157
3    7.3012
4    7.4488
Name: Unit A, dtype: float64

In [9]:
data2=pd.Series(data.iloc[:,1])
data2.head()

0    6.7703
1    7.5093
2    6.7300
3    6.7878
4    7.1522
Name: Unit B, dtype: float64

In [10]:
# 2-sample 2-tail ttest
# stats.ttest_ind(array1,array2)
# ind -> independent samples
p_value=stats.ttest_ind(data1,data2)
p_value

Ttest_indResult(statistic=0.7228688704678063, pvalue=0.47223947245995)

In [11]:
p_value[1]          # 2-tail probability

0.47223947245995

In [12]:
# compare p_value with Î± = 0.05 (At 5% significance level)